/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 22, 2023, 9:12:41 PM
    Author     : limch
*/
/*Header Css*/
*,
*:before,
*:after{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-left: 5%;
    margin-right: 5%;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-box::placeholder {
    padding-left: 10px;
}

.search-box {
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.search{
    color: white;
    margin-left: 215px;
}

.search-button {
    font-size: 27px;
    color: black;
    border: none;
    background-color: white;
    cursor: pointer;
}

.account {
    font-size: 27px;
    color: black;
    margin-left: 190px;
    text-decoration: none;
}

.cart {
    font-size: 27px;
    color: black;
    margin-left: 100px;
}

.header-pic {
    width: 380px;
    height: 134.59px;
    display: inline-block;
    margin-left: 290px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: auto;
    position: relative;
}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 10px 20px;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
    justify-content: center;
}

nav a:hover:after {
    width: 100%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
}

.pic1 {
    width: 100%;
}


/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 25px;
    margin-top: -300px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px 0 0 10px;
    user-select: none;
}

.prev{
    left: 0;
    border-radius: 10px 0 0 10px;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0 10px 10px 0;
}

/*  Slideshow Fading Animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.view-all-btn{
    justify-content: center;
    padding: 10px 13px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: black;
    border: 2px solid black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.view-all-btn:hover{
    background-color: white;
    color: black;
}

/*Product Css*/
.pageContent{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.pageContent p{
    font-size: 12px;
}

.pageContent .bold{
    font-size: 25px;
}

.pageContentPic{
    width: 1400px;
    height: 350px;
    margin-top: 50px;
    justify-items: center;
}

.product-list-container{
    width: 1400px;
    height: auto;
    margin: auto;
}

.product{
    margin-bottom: 100px;
}

.product-list{
    margin-top: 50px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.product-list-pic{
    width: 225px;
    height: 225px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.product-list-pic-hover{
    width: 225px;
    height: 225px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: opacity 0.1s ease-in-out;
}

.product:hover .product-list-pic-hover{
    opacity: 1;
    z-index: 0;
}

.product-list-brand{
    letter-spacing: 2px;
    color: grey;
}

/*Order Confirmation Css*/
.pageConfirm{
    width: 100%;
    text-align: center;
}

.pageConfirm p{
    font-size: 12px;
}

.pageConfirm .bold{
    font-size: 19px;
}

.ok-btn{
    justify-content: center;
    padding: 10px 13px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: black;
    border: 2px solid black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 169px;
}
.ok-btn:hover{
    background-color: white;
    color: black;
}
/*Footer Css*/
footer {
    position: relative;
    width: 100%;
    background: black;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icon li,
footer .menu li {
    list-style: none;
}

footer .icon li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.85;
}

footer .icon li a:hover {
    transform: translateY(-10px);
    opacity: 1;
}

footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.85;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
}